<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>

    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <ion-card>
      <img src="assets/img/splash.png" />
      <ion-card-header>
        <ion-card-subtitle>promodvrindavanam</ion-card-subtitle>
        <ion-card-title>Electricity Bill Calculator-Kerala</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        This app help to calculate the Energy Charges as per the consumption in KWH by giving the consuption and
        tariff of consumer, as per the latest tariff rates. The Calculation may vary from original KSEB Bill as changes in billing Parameters/Conditions. So Please confirm with KSEB Office for Finalising
        <p>There is also introduced a short description on Method of calculation at the bottom of result page</p>
        <p>Expecting your Valuable Suggestions and Correction.</p>
        <p>Feel free to contact me </p>
        <p>
        <ion-label color="primary">Phone  : 9496817016</ion-label>
        <a href="tel:9496817016"> <img src="assets/icon/call.png" style="width : 30px ; height : 30px" > </a>
        </p>
        <div>
        <p>
        <ion-label color="primary">Whatsapp  : 9496817016</ion-label>
        <a href="whatsapp://send?phone=+919496817016" ><img src="assets/icon/whatsapp.png" style="width : 30px ; height : 30px" > </a>
        </p>
        </div>
        <p>
        <ion-label color="primary">E-Mail  : promodvrindavanam@gmail.com</ion-label>
        <a href="mailto:promodvrindavanam@gmail.com"> <img src="assets/icon/mail.png" style="width : 30px ; height : 30px" > </a>
        </p>

      </ion-card-content>
    </ion-card>
  </ion-content>



