<!-- my-modal.page.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Your-Electricity Bill</ion-title>
  </ion-toolbar>
</ion-header>
<div class="headrow">
        <div>Tariff / Purpose = {{tariffDesc}}
        </div>
        <div>Connected Load(KW)= {{cl}} kw</div>
        <div> Contract Demand (KW) = {{cd}} kw
        </div>
        <div>RMD-1-Normal (KW)= {{rmd1}} KW
        </div>
        <div> RMD-2-Peak (KW) = {{rmd2}} KW
        </div>
        <div> RMD-3-Off-Peak (KW) = {{rmd3}} KW
        </div>
        <div>KWH-Normal (kwh1) = {{kwh1}} Units
        </div>
        <div>KWH-Peak (kwh2) = {{kwh2}} Units
        </div>
        <div>KWH-Off-Peak (kwh3) = {{kwh3}} Units
        </div>
        <div>KVAH Cummulative = {{kvahcum}}
        </div>
        <div>Power Factor = {{pf}}
        </div>

</div>


<ion-content class="ion-padding">

    <div class='summary_row'>
          <div  class='summarycell1' >Particulars</div>
          <div  class='summarycell'>Rs.</div>

        </div>
        <div  class='summary_row'>
          <div  class='summarycell1'>
            Demand Charges
          </div>
          <div  class='summarycell'>
            {{fc}}
          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            Excess Demand Charges
          </div>
          <div  class='summarycell'>
            {{fcexcess}}
          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            Total Demand Charges
          </div>
          <div  class='summarycell'>
            {{fctotal}}
          </div>
        </div>



        <div  class='summary_row'>
          <div class='summarycell1' >
            Energy Charge -KWH1(6AM to 6PM)
          </div>
          <div  class='summarycell'>
            {{ec1}}
          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            Energy Charge -KWH2(6PM to 10PM)
          </div>
          <div  class='summarycell'>
            {{ec2}}

          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            Energy Charge -KWH3(10PM to 6AM)
          </div>
          <div  class='summarycell'>
            {{ec3}}
          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            Total Energy Charges
          </div>
          <div  class='summarycell'>
            {{ectotal}}
          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            Fuel Surcharge on Energy
          </div>
          <div  class='summarycell'>
            {{surchargeonEnergy}}
          </div>
        </div>


        <div  class='summary_row'>
          <div  class='summarycell1'>
            PF Penalty
          </div>
          <div  class='summarycell'>
            {{pfpen}}
          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            PF Incentive
          </div>
          <div  class='summarycell'>
           - {{pfinc}}
          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            Duty
          </div>
          <div  class='summarycell'>
            {{duty}}

          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            Meter Rent
          </div>
          <div  class='summarycell'>
            {{meterrent}}

          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            Meter Rent Flood Cess
          </div>
          <div  class='summarycell'>
            {{mrfloodcess}}
          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            Meter Rent SCGST
          </div>
          <div  class='summarycell'>
            {{mrsgst}}

          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            Meter Rent CGST
          </div>
          <div  class='summarycell'>
            {{mrcgst}}

          </div>
        </div>

        <div  class='summary_row'>
          <div  class='summarycell1'>
            Grand Total
          </div>
          <div  class='summarycell'>
            {{grandtotal}}

          </div>
        </div>


        <ion-button  class="center" (click)="closeModal()">Back</ion-button>


</ion-content>
