
.sidemenu {
  width:auto;
}
.toolbar {
  min-height: 125px;
  padding-top: 55px;
  text-align: center;
}
.header2{
  font-size: small;
  font-style: italic;
  text-align: center;
}
.image{
  align-items: center;
}
